<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container-fluid">
    <a class="navbar-brand text-white fw-bold" href="/">Royal Peak</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="/bldgs">Buildings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/units">Units</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/owners">Owners</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
